trunk/globalmentor-android/bin
trunk/globalmentor-android/gen
trunk/globalmentor-core/.classpath
trunk/globalmentor-core/.project
trunk/globalmentor-core/.settings
trunk/globalmentor-core/target
trunk/ploop/target
